<h2>List of Favourite Places</h2>
<ul>
  <li *ngFor="let place of places">
    <h2 (click)="placeClicked(place)">{{place.name}}</h2>
  </li>
</ul>
<hr>
Name <input type="text" [(ngModel)]="selectedPlace.name"/><br>
WWW <input type="text" [(ngModel)]="selectedPlace.link"/><br>
Address <input type="text" [(ngModel)]="selectedPlace.address"/><br>
Description <input type="text" [(ngModel)]="selectedPlace.description"/><br>
<button *ngIf="selectedMovie.id !=-1" (click)="updatePlace(place)">Edit</button>
<button *ngIf="selectedMovie.id ==-1" (click)="createPlace(place)">Add new</button>
<button *ngIf="selectedMovie.id !=-1" (click)="deletePlace(place)">Delete</button>